.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.portfolio li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0.6rem 0;
  width: 100%;
  border-bottom: 1px white solid;
  padding-bottom: 1rem;
}
.portfolio span {
  color: white;
  font-weight: 500;
  font-size: 1.15rem;
}

.portfolio li h3.github::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/data/imgs/github.png");
  margin-right: 0.5rem;
}
